*{
    font-family: Arial;
}

body {
    background-image: url("images/pink.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
}

#overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(255m, 0, 106, 0.4);
}

form{
    max-width: 550px;
    width: 90%;
    background: white;
    margin: 17vh auto 0 auto;
    padding: 40px;
    border-radius: 3px;
    box-sizing: border-box;
}

h1 {
    margin: 0;
    text-align: center;
}

label {
    display: block;
    margin: 20px 0;
}

  input,
  select {
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
    box-sizing: border-box;
  }

  .hidden-radio {
    display: none;
  }
  
  /* Style the custom radio button container */
  .radio-container {
    display: -ms-inline-grid;
    position: relative;
    padding-left: 40px; /* Adjust as needed for spacing */
    cursor: pointer;
    line-height: 20px; /* Adjust based on the height of the radio button */
  }
  
  /* Style the background of the custom radio button */
  .custom-radio {
    position: absolute;
    left: 0;
    top: 0;
    width: 20px; /* Width of the radio button */
    height: 20px; /* Height of the radio button */
    background-color: #ecf0f1; /* Background color when not selected */
    border-radius: 50%; /* Make it circular */
    border: 2px solid rgb(255,0,106);
    transition: background-color 0.3s; /* Add a smooth transition effect */
  }
  
  /* Change the background color when the radio button is selected */
  .hidden-radio:checked + .custom-radio {
    background-color: rgb(255,0,106); /* Background color when selected */
    
}
  
  /* Optional: Style the label text */
  .radio-container label {
    margin-left: 10px; /* Adjust as needed for spacing */
    vertical-align: middle; /* Align label text vertically with the radio button */
    user-select: none; /* Prevent text selection on label */
  }

  
  .hidden-checkbox {
    display: none;
  }
  
  /* Style the custom checkbox container */
  .checkbox-container {
    display: -ms-inline-flexbox;
    position: relative;
    padding-left: 40px; /* Adjust as needed for spacing */
    cursor: pointer;
    line-height: 20px; /* Adjust based on the height of the checkbox */
  }
  
  /* Style the background of the custom checkbox */
  .custom-checkbox {
    position: absolute;
    left: 0;
    top: 0;
    width: 20px; /* Width of the checkbox */
    height: 20px; /* Height of the checkbox */
    background-color: #ecf0f1; /* Background color when not selected */
    border: 2px solid rgb(255,0,106); /* Border color */
    text-align: center;
    font-size: 14px; /* Adjust font size */
    line-height: 16px; /* Adjust line height */
    transition: background-color 0.3s; /* Add a smooth transition effect */
  }
  
  /* Change the background color when the checkbox is checked */
  .hidden-checkbox:checked + .custom-checkbox {
    background-color: rgb(255,0,106); /* Background color when checked */
    
  }
  
  /* Optional: Style the label text */
  .checkbox-container label {
    margin-left: 10px; /* Adjust as needed for spacing */
    vertical-align: middle; /* Align label text vertically with the checkbox */
    user-select: none; /* Prevent text selection on label */
  }
  

  input, textarea { 
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
    resize: none;
    border: none;
    border-bottom: 1px solid #D3D3D3;
}

input[type="text"]:focus, textarea:focus {
    border-bottom: 1px solid rgb(255,0,106);
}

textarea::-webkit-scrollbar-thumb {
    width: 4px;
}

textarea::-webkit-scrollbar-thumb {
    background-color: rgb(255,0,106);
}

.center {
    text-align: center;
}

  button {

    margin-top: 30px;
    width: 100%;
    padding: 10px;
    max-width: 200;
    background: linear-gradient(to right, rgb(255,0,106), rgb(255,67,61));
    color: white;
    font-size: 17px;
    cursor: pointer;
    border-radius: 5px;
  }
